nav {
    background-color: #333;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  li {
    display: inline;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #ffcc00;
  }
  